@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.Title{
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 3%;
    font-family: 'Press Start 2P';
    font: solid black;      
    }
    
                


h1{
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 174, 0),
      0 0 82px rgb(200, 255, 0),
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
      animation: flicker 10s infinite alternate; 

}


@keyframes flicker {
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px rgb(3, 82, 62),
      0 0 45px rgb(7, 58, 41),
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  
  }
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
}

 